:root {
  --branding-color: #b3b3b3;
  --secondary-color: #e4e5e7;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 26px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  background-size: 100%;
  text-align: center;
  padding: 80px 10px;
  max-width: 100%;
  opacity: 0.9;
}

.bg-light {
  background-color: white !important;
}

.hero h1 {
  color: white;
  text-shadow: 2px 4px 4px black;
}

.hero h3 {
  color: black;
  text-shadow: 2px 4px 4px white;
}

.hero p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 2px 4px 4px black;
}

.logo {
  width: 100px;
}

.contact-me {
  background-color: white;
}

.contact-me:hover {
  background-color: grey;
  color: white;
}

.mt-5 {
  margin-top: 1rem !important;
}

.project-heading {
  text-align: center;
}

.img-fluid.home-page {
  height: 90%;
  width: 90%;
}

.img-fluid.work-page {
  height: 60%;
  width: 90%;
}

.image-laptop {
  max-width: 10px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 10px;
  background-color: var(--secondary-color);
  max-width: 100%;
}

.content h1 {
  font-size: 52px;
  line-height: 80px;
  margin: 20px auto;
  text-align: center;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content .btn-branding {
  background: var(--branding-color);
  color: white;
  line-height: 27px;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}

.img-fluid.mb-3.rounded.yogurt-image {
  display: block;
  margin: 0 auto;
}

.img-fluid.mb-3.rounded.weather-image {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 63%;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: grey;
  color: white;
}

.btn-branding-outline.work-yogurt-button,
.btn-branding-outline.work-weather-button,
.btn-branding-outline.work-dictionary-button {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.project-description {
  padding: 120px 60px;
}

p.text-muted {
  color: white !important;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer {
  margin: 30px 0;
}
footer .contact-box {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  padding: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
}

footer .social-links a {
  margin: 10px 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  .hero {
    padding: 40px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  h2 {
    font-size: 44px;
  }

  .weather-project-description,
  .yogurt-project-description,
  .dictionary-project-description {
    padding: 0;
    text-align: center;
  }

  .row > * {
    width: 100% !important;
  }
  .img-fluid.yogurt-image,
  .img-fluid.weather-image,
  .img-fluid.dictionary-image {
    display: none;
  }

  .btn-branding-outline.work-yogurt-button,
  .btn-branding-outline.work-weather-button,
  .btn-branding-outline.work-dictionary-button {
    display: block;
    margin: 0 auto;

    font-size: 12px;
  }
}

.row > * {
  width: 33.3%;
  max-width: 100%;
}

.img-fluid.yogurt-image,
.img-fluid.weather-image,
.img-fluid.dictionary-image {
  width: 50vw;
  height: 18vw;
}

.text-center.text-muted.yogurt-project-description,
.text-center.text-muted.weather-project-description,
.text-center.text-muted.dictionary-project-description {
  color: black !important;
}

.active {
  color: var(--branding-color) !important;
}

.nav-item {
  padding: 0 10px;
  background-color: white;
}

.descrip.mb-5 {
  color: white;
  text-shadow: 2px 4px 4px black;
}

.text-center.m-0.project-name {
  color: white;
  text-shadow: 2px 4px 4px black;
  padding-bottom: 10px;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.featured {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
